.bookmarks-page {

    .left-side {
        .empty-message {

            display: block;
            margin: 0 auto;
            margin-top: 25px;
            font-size: 20px;


            a {
                color: blueviolet;
                border-bottom: 1px dashed #6d6fd3;
            }
        }

    }
}