/* Main header */
.main-header {
    padding-top: 20px;

    .MuiPaper-elevation0 {
        margin-top: 20px;
    }

    .MuiAppBar-positionFixed {
        transition: all ease-in-out .3s;
        max-width: 90% !important;
        right: unset;
        left: unset;
    }

    .MuiToolbar-root {

        /* header link */
        a {
            margin-left: 15px;
            font-weight: 500;

            &:hover {
                color: #fff;
                border-bottom: 1px solid #fff;
                transition: all ease-in-out .3s
            }
        }

        /* signed in account */
        .me-header {
            margin-left: auto;

            &:hover {
                cursor: pointer;
            }

        }
    }

    /* Home button */
    .MuiButtonBase-root {
        &:hover {
            background-color: unset !important;
        }

        /* home button a */
        a {
            margin-left: 0;
        }
    }
}